<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <title>About</title>
</head>

<body>
    <div class="items">
        <div class="img">
            <img src="https://i.postimg.cc/7h6Xjgdn/Whats-App-Image-2021-07-21-at-8-16-28-AM.jpg" alt="Its me">
        </div>
    
        <div>
    <h1>A little about me...</h1>
    
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt obcaecati qui corporis cupiditate iste, dicta
                sit aliquam illum laudantium exercitationem quasi, perferendis omnis aspernatur libero ab? Non quae vel
                numquam ipsa nihil cupiditate? Earum, excepturi officia deserunt dolorem hic facilis blanditiis aut eos
                soluta, consectetur totam maxime id rem repellendus? Quaerat a facilis ut accusamus. Fugiat, corrupti
                doloribus. Magnam maiores voluptatibus neque corporis perspiciatis autem aspernatur saepe. Asperiores
                temporibus nesciunt odit cum ipsa! Numquam ipsum debitis natus, ratione consequatur repellat vel. Eveniet et
                tenetur ut, consequatur ab quasi sapiente autem repudiandae aliquid earum veniam aspernatur dolores, quos
                aperiam fugiat cupiditate molestias odio perferendis doloremque dignissimos quas amet eaque laboriosam.
                Facilis nostrum eius assumenda laudantium eaque unde deleniti laborum id numquam alias natus officiis vero
                quas tempore corporis magni quia, nam quae repellendus impedit reprehenderit consequatur maxime totam.
                Deserunt quod, ut laudantium beatae consectetur iusto quam. Rem, minus sint error veritatis assumenda atque
                hic accusantium magnam suscipit nostrum tempora voluptate culpa? At possimus aspernatur illum ab explicabo
                sequi porro rem! Aperiam amet id porro veniam quasi voluptas odit ratione ipsa delectus dicta atque mollitia
                explicabo, fugiat asperiores velit saepe iste dolore aliquam, itaque eos perspiciatis voluptatum voluptatem!
                Voluptas enim possimus similique consequuntur incidunt iste porro, assumenda atque vel quaerat, delectus
                libero fuga quisquam consequatur quasi dicta? Vitae distinctio minima quam, delectus ea voluptatibus magnam
                quod cupiditate alias, numquam, non aspernatur labore earum ipsum? Obcaecati magni ipsam neque molestiae
                culpa deleniti officia, sed explicabo eveniet id ducimus, nemo doloremque! Dolores, rem itaque sint
                accusamus cum quia id quod quaerat voluptatem porro voluptatibus dolorum ipsam temporibus minima deleniti
                cumque fuga sit quisquam dolore facere, quas aperiam. Tempora accusantium minima libero corrupti omnis eos?
                Consequuntur earum laborum unde ea eveniet dolore officia esse adipisci veniam eum obcaecati libero sit
                suscipit quis cupiditate, quisquam ipsa!</p>

                <div class="left">
                    <ul style="font-size: 15px;">
                        <li><a href="/">HOME</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
        
                </div>
        </div>

    </div>
</body>

</html>