<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utility.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/mobile.css">
    <script src="https://kit.fontawesome.com/028bce3eae.js" crossorigin="anonymous"></script>
    <title>contact</title>
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="text">
                <h1>GET IN TOUCH</h1>
                <div class="messege">
                    <p>Lorem ipsum dolor sit consectetur adipisicing elit.<br> Vitae, sed nam, fuga suscipit aut
                        eligendi repudiandae <br> a obcaecati ea earum eaque!</p>
                </div>
                <div class="info ptop">
                    <i class="fas fa-envelope-square red"></i>
                    <span>xxxxxxx@gmail.com</span>
                </div>
                <div class="info ptop">
                    <i class="fas fa-mobile red"></i>
                    <span>1234567890</span>
                </div>
                <div class="info ptop">
                    <i class="fas fa-map-marker red"></i>
                    <span>Somewhere on Earth</span>
                </div>
            </div>

            <div class="box">
                <h2 class="red">SAY SOMETHING</h2>
                <input class="mtop textsize" type="text" placeholder="Your name">
                <input class="mtop textsize" type="email" placeholder="your email">
                <input class="mtop textsize" type="text" name="" id="messege">
                <button class="mtop textsize">SEND</button>
            </div>

        </div>


        <div class="bottom">
            <div class="text">
                <div><h1>ABOUT ME</h1></div>
                <div class="messege">
                    <p>Lorem ipsum dolor sit consectetur adipisicing elit.<br> Vitae, sed nam, fuga suscipit aut
                        eligendi repudiandae <br> a obcaecati ea earum eaque!</p>
                </div>
            </div>

            <div class="left">
                <ul style="font-size: 15px;">
                    <li><a href="/">HOME</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>

