<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .form{
            background-color: bisque;
            height: 80vh;
            margin: 0px 60px 0px 60px;
            padding: 10px 60px 0px 60px ;
            border: 2px solid rgb(248, 121, 1);
            height: fit-content;
        }
        header{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            font-family:  'Libre Baskerville', serif;
            color: brown;
            text-decoration: underline;
        }

    </style>
    <title>New Article</title>
</head>
<body>
    <header>
        <h1>New Article</h1>
    </header>
    <div class="form">
        <form method="POST" action="/">
            <div class="form-group">
                <label for="title">Title</label>
                <input required name="title" type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="author">Author Name</label>
                <input required name="author" type="text" class="form-control" id="author" placeholder="Author Name">
            </div>
            <div class="form-group">
                <label for="des">Description</label>
                <textarea required name="des" type="text" class="form-control" id="des" rows="10" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">ADD</button>
            <a href="/" class="btn btn-secondary">CANCEL</a>
        </form>
    </div>
</body>
</html>